@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-mulish);
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .hero-auth {
    background-image: url(../assets/images/bgreal.webp);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
